
.icon-arrow:before { content: '\e800'; } /* '' */
.icon-line:before { content: '\e801'; } /* '' */
.icon-comment:before { content: '\e802'; } /* '' */
.icon-pencil_cog:before { content: '\e803'; } /* '' */
.icon-percent:before { content: '\e804'; } /* '' */
.icon-stocks:before { content: '\e805'; } /* '' */
.icon-ticket_cycle:before { content: '\e806'; } /* '' */
