// Import global vars
@import "master";
@import "fonts";

:root {
  --color-primary: #fee500;
  --color-primary-alt: #fcd200;
  --color-accent: #00aaff;
  --color-accent-alt: #2590c6;
  --color-accent-light: #aee3fd;
  --color-text: #2f3139;
  --color-text-blue: #230055;

  --color-background: #fff;
  --color-background-alt: #f5f7f7;
}

html,
body {
  height: 100%;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;

  font-family: "Gotham Pro", sans-serif;
  font-size: 16px;
  line-height: 1.75rem;
  color: var(--color-text);
}
.main-content {
  flex: 1 0 auto;
}
.main-footer {
  flex-shrink: 0;
}

img {
  max-width: 100%;
}

a {
  color: var(--color-accent);
  transition: color 200ms;
  &:hover {
    color: var(--color-accent-alt);
  }
}

.breadcrumb {
  background: none;
  padding: 0;

  margin-bottom: 8px;

  .breadcrumb-item {
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.375rem;

    color: var(--color-accent);

    a {
      color: var(--color-accent);
    }

    & + .breadcrumb-item::before {
      font-family: "fontello";
      content: "\e801";
      color: var(--color-accent);
      margin-top: 1px;
    }

    &.active {
      color: rgba(#2f3139, 0.3);
    }
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  background: #ececec;
}
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-alt);
}

.img-rounded {
  border-radius: 10px;
}

.w-60 {
  width: 60%;
}

.text-accent {
  color: var(--color-accent);
}

.text-primary {
  color: var(--color-primary);
}

.dd-tag-wrap {
}
.dd-tag {
  display: inline-block;
  padding: 8px 12px;
  background: var(--color-primary);
  border-radius: 1.8335rem;

  font-style: normal;
  font-weight: normal;
  font-size: 0.8125rem;
  line-height: 0.75rem;
  text-align: center;

  color: var(--color-text);

  &--gray {
    background: var(--color-background-alt);
  }
}

.dd-button {
  display: inline-block;
  background: var(--color-primary);
  border-radius: 4px;
  padding: 1rem 1.875rem;

  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 0.9375rem;
  text-align: center;
  color: var(--color-text);

  transition: 200ms;

  // reset
  outline: 0;
  border: none;
  &:hover {
    text-decoration: none;
    color: var(--color-text);
    background: var(--color-primary-alt);
  }

  &--accent {
    background: var(--color-accent);
    color: #fff;

    &:hover {
      text-decoration: none;
      color: #fff;
      background: var(--color-accent-alt);
    }
  }

  &--small {
    font-size: 0.875rem;
    line-height: 0.8125rem;
    padding: 0.75rem 1.5rem;
  }
}
.dd-input-wrap {
  margin-bottom: 0.75rem;
}
.dd-input {
  padding: 17px 19px;

  background: #ffffff;
  border: 1px solid #e1e1e3;
  border-radius: 4px;

  font-size: 0.875rem;
  line-height: 0.8125rem;
  color: var(--color-text);

  outline: 0;
  transition: 200ms;

  &::placeholder {
    color: #acacac;
  }
  &:focus {
    box-shadow: inset 0 0 0px 1px var(--color-accent);
  }
}
.dd-textarea {
  padding: 17px 19px;

  background: #ffffff;
  border: 1px solid #e1e1e3;
  border-radius: 4px;

  font-size: 0.875rem;
  line-height: 0.8125rem;
  color: var(--color-text);

  outline: 0;
  transition: 200ms;

  &::placeholder {
    color: #acacac;
  }
  &:focus {
    box-shadow: inset 0 0 0px 1px var(--color-accent);
  }
}

.dd-table-wrap {
  background: var(--color-background);

  box-shadow: 0px 0.5rem 1.625rem rgba(43, 45, 51, 0.1);
  border-radius: 9px;
}
.dd-table {
  margin-bottom: 0;

  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.75rem;

  color: var(--color-text);

  min-width: 680px;

  thead {
    th {
      padding: 20px;
    }
  }
  tbody {
    td {
      padding: 20px;
      vertical-align: middle;
    }
    tr {
      &:not(:last-child) {
        border-bottom: 1px solid #e1e1e3;
      }
    }
  }

  &__corp-cell {
    display: flex;
    &-img-wrap {
      flex: 0 0 auto;
      margin-right: 0.9375rem;
    }
    &-img {
      border-radius: 4px;
    }

    &-title {
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.75rem;

      color: var(--color-text);
      margin-bottom: -4px;
    }
    &-subtitle {
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.75rem;

      color: var(--color-text);

      opacity: 0.5;
    }
  }
  &__prices {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-start,
    &-end {
      white-space: nowrap;
    }

    &-start {
      opacity: 0.4;
    }
    &-arrow-wrap {
      width: 24px;
      margin-left: 4px;
      margin-right: 4px;
      i {
        font-size: 8px;
        // margin-left: -12px;
      }
    }
  }
  &__result {
    white-space: nowrap;
  }
}

.main-header {
  padding-top: 22px;
  padding-bottom: 36px; // 46 - nav bottom margin
  background: #ffffff;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.05);
  transition: 400ms;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75rem;

    .dd-tag-wrap {
      width: 375px;
      &:first-child {
        margin-right: 20px;
      }
    }
  }
  &__middle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 1.5625rem;

    .main-header__socials-wrap {
      display: none;
    }
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 5.7641rem;
    line-height: 5.5rem;

    color: #2f3139;

    a {
      text-decoration: none;
      color: inherit;

      transition: 400ms;
    }
  }

  &__socials {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;

    &-item {
      padding-left: 6px;
      padding-right: 6px;
    }
  }

  &__nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: -1.5625rem;
    margin-right: -1.5625rem;

    &-item {
      font-style: normal;
      font-weight: normal;
      font-size: 1.125rem;
      line-height: 1.0625rem;
      color: var(--color-text);

      padding: 0 1.5625rem;
      margin-bottom: 0.625rem;
    }
    &-link {
      color: var(--color-text) !important;
      text-decoration: none !important;
    }
  }

  .hamburger-wrap {
    display: none;
  }
  .hamburger {
    transform: scale(0.75);

    // .hamburger-inner,
    // .hamburger-inner::after,
    // .hamburger-inner::before {
    //   background-color: var(--color-primary);
    // }
  }

  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    padding: 20px 0;
    .main-header {
      &__top {
        display: none;
      }
      &__middle {
        .main-header__socials-wrap {
          display: block;
          margin-right: 10px;
        }
        .main-header__socials {
          flex-wrap: nowrap;
        }
        .main-header__contact-btn-wrap a {
          white-space: nowrap;
        }
      }

      &__title {
        font-size: 2.625rem;
        line-height: 2.5rem;
      }
    }
  }

  &__mobile-slidebar-wrap {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9999;

    display: none;
    &.active {
      display: block;
    }
  }

  &__mobile-slidebar {
    width: 320px;
    height: 100%;
    background: #fff;
    overflow: auto;
    padding: 20px 15px;
    &-header {
      display: flex;
      margin-bottom: 20px;
    }
    &-close-btn {
      background: none;
      border: none;
      margin-left: auto;
    }

    .main-header__nav-wrap {
      overflow: hidden;
      margin-bottom: 1.25rem;
    }
    .main-header__nav-menu-item {
      width: 100%;
    }

    .main-header__socials-wrap {
      overflow: hidden;
      margin-bottom: 1.25rem;
    }
    .main-header__socials-item {
      img {
        width: 24px;
        height: 24px;
      }
    }

    .main-header__contact-btn-wrap {
      display: block;
    }
    .main-header__contact-btn-wrap .dd-button {
      width: 100%;
    }
  }
}

.main-content {
  &--alt {
    background: var(--color-background-alt);
  }
}
.main-footer {
  &__top {
    border-top: 1px solid #e1e1e3;
    padding: 85px 0;

    &-content {
      position: relative;
    }
  }
  &__bottom {
    border-top: 1px solid #e1e1e3;
    padding: 24px 0;

    &-content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__scroll-btn {
    position: absolute;
    top: -108px;
    right: 0;

    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid #e1e1e3;
    background: #fff;
    color: var(--color-accent);

    i.icon-arrow {
      display: block;
      font-size: 8px;
      transform: rotate(-90deg) translateX(-8px);
    }
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 1.3125rem;
    line-height: 1.75rem;

    margin-bottom: 0.75rem;
  }

  &__nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;

    &-item {
      width: 50%;

      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.75rem;

      margin-bottom: 1.25rem;

      color: var(--color-text);
      &:hover {
        text-decoration: none;
        color: var(--color-text);
      }
    }
    &-link {
      color: var(--color-text);
      &:hover {
        text-decoration: none;
        color: var(--color-text);
      }
    }
  }

  &__gallery-wrapper {
    width: 262px;
    margin: auto;
  }
  &__gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
    &-item-wrap {
      width: 33.3%;
      padding: 0 4px;
      margin-bottom: 4px;
    }
    &-item {
      border-radius: 3px;
      width: 100%;
      object-fit: cover;
    }
  }

  &__contacts {
    list-style: none;
    padding: 0;
    margin: 0;

    &-icon {
      margin-right: 8px;
    }
    &-item {
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.75rem;
      margin-bottom: 0.5rem;

      color: var(--color-text);
      &:hover {
        text-decoration: none;
        color: var(--color-accent);
      }
    }
    &-link {
      display: flex;

      color: var(--color-text);
      &:hover {
        text-decoration: none;
        color: var(--color-accent);
      }
    }
  }

  &__copyright {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: var(--color-text);
    opacity: 0.7;

    margin-bottom: 0.625rem;
  }
  &__legal {
    display: flex;
    margin-left: -6px;
    margin-right: -6px;

    font-size: 0.875rem;
    line-height: 1.375rem;

    margin-bottom: 0.625rem;
    &-link {
      color: var(--color-text);
      opacity: 0.7;
      padding: 0 6px;
    }
  }

  &--alt {
    .main-footer__top {
      border-top: 1px solid var(--color-background-alt);
    }
  }
}

.page-title {
  font-style: normal;
  font-weight: 500;
  font-size: 3.25rem;
  line-height: 4rem;

  color: var(--color-text);

  margin-bottom: 3.75rem;
}
.page-thumbnail-wrap {
  margin-bottom: 1rem;
}
.page-thumbnail {
  width: 100%;
}

.section {
  padding: 5rem 0;
  // overflow: hidden;

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 3.25rem;
    line-height: 4rem;

    text-align: center;

    margin-bottom: 3.75rem;
  }

  &__small-title {
    font-style: normal;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 4rem;

    text-align: center;

    margin-bottom: 2.5rem;
  }

  &__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;

    text-align: center;

    margin-bottom: 1.75rem;
  }

  &__small-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 1.3125rem;
    line-height: 1.75rem;

    margin-bottom: 1.5rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 3.75rem;
    position: relative;

    .section__title {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }
    .section__small-title {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }
    .section__header-details-btn {
      position: absolute;
      right: 0;
      text-decoration: none;
      i {
        font-size: 10px;
        margin-left: 8px;
      }
    }
  }

  &--accent {
    background: var(--color-background-alt);

    .swiper-custom-btn-next {
      background: var(--color-background);
    }
    .swiper-custom-btn-prev {
      background: var(--color-background);
    }
  }
}

.section-page-hero {
  min-height: 410px;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &__breadcrumb {
    margin-bottom: 1.25rem;
    .breadcrumb-item {
      color: #fff;
      a {
        color: #fff;
      }

      & + .breadcrumb-item::before {
        color: #fff;
      }

      &.active {
        color: rgba(#ffffff, 0.5);
      }
    }
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 3.25rem;
    line-height: 4rem;

    color: #ffffff;

    margin-bottom: 2.5rem;

    max-width: 620px;
  }
}

.contacts-page {
  &__section-title {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;

    color: var(--color-text);

    margin-bottom: 0.5rem;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1.875rem;

    &-item {
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.75rem;

      color: var(--color-text);
      margin-bottom: 0.25rem;
    }
    &-link {
      display: flex;
      align-items: center;
      img {
        margin-right: 0.5rem;
      }

      color: var(--color-text);
      text-decoration: none;
      &:hover {
        color: var(--color-text);
        text-decoration: none;
      }
    }
  }
}

.content-swiper-wrap {
  position: relative;

  &.shadow-fix {
    margin-top: -12px;
    margin-bottom: -12px;
    margin-left: -12px;
    margin-right: -12px;

    .content-swiper {
      padding: 12px;
    }
  }
}
.content-swiper {
  .swiper-wrapper {
  }

  .swiper-slide {
  }
}

.swiper-custom-btn-next {
  right: -86px;
  left: auto;

  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--color-background-alt);
  width: 46px;
  height: 46px;
  border-radius: 50%;

  i {
    font-size: 8px;
    margin-left: -14px;
    color: var(--color-accent);
  }

  transition: 200ms;
  &:hover {
    i {
      color: var(--color-accent-alt);
    }
  }

  &.swiper-button-disabled {
    opacity: 0.5;
  }
}
.swiper-custom-btn-prev {
  left: -86px;
  right: auto;

  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--color-background-alt);
  width: 46px;
  height: 46px;
  border-radius: 50%;

  i {
    font-size: 8px;
    margin-left: 14px;
    color: var(--color-accent);
    transform: rotate(-180deg);
  }

  transition: 200ms;
  &:hover {
    i {
      color: var(--color-accent-alt);
    }
  }

  &.swiper-button-disabled {
    opacity: 0.5;
  }
}

.service-cover-card-wrap {
  height: 100%;
  // margin-bottom: 1.25rem;

  a {
    text-decoration: none;
    color: initial;
  }
}
.service-cover-card {
  position: relative;
  height: 100%;
  padding: 2.0625rem 1.75rem;

  background: var(--color-background-alt);
  border-radius: 6px;
  border: 2px solid var(--color-primary);

  transition: 200ms;
  &:hover {
    box-shadow: 4px 8px 9px rgba(43, 45, 51, 0.14);

    .service-cover-card__title {
      color: var(--color-accent);
    }
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;

    color: var(--color-text);

    margin-bottom: 24px;

    position: relative;
    z-index: 1;
    max-width: 450px;
  }
  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;

    color: var(--color-text);

    position: relative;
    z-index: 1;
    max-width: 320px;
  }
  &__splash-wrap {
    position: absolute;
    bottom: 0;
    right: 0;

    pointer-events: none;
  }
}

.service-card-wrap {
  // margin-bottom: 1.25rem;
  height: 100%;

  a {
    text-decoration: none;
    color: initial;
  }
}
.service-card {
  height: 100%;

  padding: 2.5rem 1.25rem;
  padding-bottom: 1.875rem;
  padding-right: 1.75rem;

  background: var(--color-background-alt);
  border-radius: 6px;

  transition: 200ms;
  &:hover {
    box-shadow: 0.25rem 0.5rem 0.5625rem rgba(43, 45, 51, 0.14);

    .service-card__title {
      color: var(--color-accent);
    }
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 1.75rem;
    color: var(--color-text);

    margin-bottom: 0.75rem;

    transition: 200ms;
  }
  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.375rem;

    color: #000000;
    opacity: 0.6;
  }
}

.case-card-wrap {
  margin-bottom: 1.5rem;
  a {
    text-decoration: none;
    color: inherit;
  }
}
.case-card {
  background: #ffffff;
  border-radius: 6px;

  &__image-wrap {
  }
  &__image {
    object-fit: cover;
    width: 100%;
    height: 198px;
  }

  &__content {
    padding: 1.75rem;
  }
  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 1.3125rem;
    line-height: 1.75rem;

    color: var(--color-text-blue);

    margin-bottom: 0.5rem;
  }
  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.375rem;

    color: #000000;
    opacity: 0.6;
  }
}

.article-card-wrap {
  height: 100%;
}
.article-card {
  height: 100%;
  background: var(--color-background-alt);
  border-radius: 6px;
  padding: 1.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 295px;

  &__tag-wrap {
    margin-bottom: 1.25rem;
    position: relative;
    z-index: 1;
  }
  &__title {
    position: relative;
    z-index: 1;

    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
    max-width: 320px;

    color: inherit;
    &:hover {
      text-decoration: none;
      color: inherit;
    }

    a {
      color: inherit;
      &:hover {
        text-decoration: none;
        color: inherit;
      }
    }
  }
  &__splash-wrap {
    position: absolute;
    bottom: 0;
    right: 0;

    pointer-events: none;
  }
  &__splash {
    border-bottom-right-radius: 6px;
  }
  &__details-btn {
    position: relative;
    z-index: 1;

    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.75rem;
    color: var(--color-accent);
    margin-top: auto;
    &:hover {
      text-decoration: none;
    }
    i {
      font-size: 10px;
    }
  }
}

.blog-card-wrap {
  margin-bottom: 1.5rem;
}
.blog-card {
  padding-top: 1.25rem;
  padding-bottom: 0.875rem;

  background: #ffffff;
  box-shadow: 0.25rem 0.25rem 1.75rem 0.1875rem rgba(0, 0, 0, 0.08);
  border-radius: 6px;

  &__date {
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.375rem;

    color: var(--color-text);
    opacity: 0.7;

    margin-bottom: 0.375rem;
  }
  &__title {
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    font-style: normal;
    font-weight: 500;
    font-size: 1.3125rem;
    line-height: 1.75rem;

    color: var(--color-text);

    margin-bottom: 0.75rem;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
  &__image-wrap {
  }
  &__image {
    margin-bottom: 1.75rem;
    width: 100%;
    height: 210px;
    object-fit: cover;
  }
  &__meta {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
    &-item-wrap {
      padding: 0 4px;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
    &-item {
      font-style: normal;
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 1.0625rem;
      color: var(--color-text);
      opacity: 0.6;

      display: flex;
      align-items: flex-start;

      i {
        font-size: 20px;
        margin-right: 0.25rem;
      }
    }
  }
}

.solution-card-wrap {
}
.solution-card {
  background: var(--color-background);
  border-radius: 6px;

  padding: 1.5rem;

  &__tag-wrap {
    margin-bottom: 1.5rem;
  }
  &__tag {
    font-weight: 500;
  }
  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 1.3125rem;
    line-height: 1.75rem;
    color: var(--color-text);

    margin-bottom: 0.75rem;
  }
  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: var(--color-text);
    margin-bottom: 1.25rem;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__price {
    font-style: normal;
    font-weight: 500;
    font-size: 1.625rem;
    line-height: 1.75rem;
  }
}

.certificate-card-wrap {
  a {
    text-decoration: none;
    color: inherit;
  }
}
.certificate-card {
  background: var(--color-background);
  // box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.08);
  border-radius: 6px;

  &__image-wrap {
    border-bottom: 1px solid #e7e7e7;
  }
  &__image {
    width: 100%;
    height: 215px;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
  }
  &__content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    min-height: 190px;
  }
  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 1.3125rem;
    line-height: 1.75rem;

    color: var(--color-text);
  }

  &__date {
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.375rem;

    color: var(--color-text);
    opacity: 0.7;

    margin-top: auto;
  }
}

.home-reviews-wrap {
  background: var(--color-background);

  box-shadow: 0px 0.5rem 1.625rem rgba(43, 45, 51, 0.1);
  border-radius: 6px;
  padding: 1.25rem;
}
.home-reviews {
  height: 440px;
  overflow: auto;
  padding-right: 10px;

  &::-webkit-scrollbar {
    width: 4px;
    border-radius: 50px;
  }
  &::-webkit-scrollbar-track {
    background: #ececec;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    cursor: pointer;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-alt);
  }

  &-item {
    &:not(:last-child) {
      margin-bottom: 1.75rem;
    }
    &__title {
      font-style: normal;
      font-weight: normal;
      font-size: 1.3125rem;
      line-height: 1.75rem;
      color: var(--color-text-blue);

      display: flex;
      align-items: center;

      margin-bottom: 0.5rem;

      img {
        width: 1.125rem;
        height: 1.125rem;
        object-fit: cover;
        margin-left: 0.75rem;
      }
    }
    &__content {
      font-style: normal;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 1.375rem;
      color: var(--color-text);

      margin-bottom: 0.5rem;
    }
    &__details-btn {
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.75rem;

      color: var(--color-accent);

      &:hover {
        text-decoration: none;
      }

      i {
        font-size: 10px;
        margin-left: 0.75rem;
      }
    }
  }
}

.home-comments-wrap {
  background: var(--color-background);

  box-shadow: 0px 0.5rem 1.625rem rgba(43, 45, 51, 0.1);
  border-radius: 6px;
  padding: 1.25rem;
}
.home-comments {
  height: 440px;
  overflow: auto;
  padding-right: 10px;

  &::-webkit-scrollbar {
    width: 4px;
    border-radius: 50px;
  }
  &::-webkit-scrollbar-track {
    background: #ececec;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    cursor: pointer;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-alt);
  }

  &-item {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    &__title {
      display: flex;
      align-items: center;

      margin-bottom: 0.375rem;

      .char {
        width: 1.75rem;
        height: 1.75rem;

        font-size: 1.25rem;
        line-height: 1.375rem;
        font-weight: 500;

        display: flex;
        justify-content: center;
        align-items: center;

        background: var(--color-primary);
        border-radius: 4px;

        margin-right: 0.375rem;
      }
      .img {
        width: 1.75rem;
        height: 1.75rem;

        object-fit: cover;
        border-radius: 4px;

        margin-right: 0.375rem;
      }
      .name {
        font-style: normal;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1.75rem;
        color: var(--color-text-blue);

        margin-right: 0.75rem;
      }
      .date {
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1.375rem;
        color: var(--color-text);

        opacity: 0.4;
      }
    }
    &__content {
      font-style: normal;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 1.375rem;
      color: var(--color-text);

      margin-bottom: 0.375rem;
    }
    &__details-btn {
      font-style: normal;
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.375rem;
      color: var(--color-text);

      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

.contact-form-wrap {
}
.contact-form {
  padding: 2.5rem 3.4375rem;

  background: var(--color-background);

  box-shadow: 0px 0.5rem 1.625rem rgba(43, 45, 51, 0.1);
  border-radius: 6px;

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 1.3125rem;
    line-height: 1.75rem;

    text-align: center;

    color: var(--color-text);
    margin-bottom: 0.375rem;
  }
  &__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;

    color: var(--color-text);

    opacity: 0.6;

    margin-bottom: 1.1rem;
  }

  .dd-input {
    width: 100%;
  }
  .dd-button {
    width: 100%;
    margin-top: 1.5rem;
  }
}

.socials-info-wrap {
}
.socials-info {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.625rem;
  margin-right: -0.625rem;

  &__item-wrap {
    width: 33.3%;
    padding: 0 0.625rem;
    margin-bottom: 1.25rem;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
  &__item {
    background: var(--color-background);
    box-shadow: 0px 0.5rem 1.625rem rgba(43, 45, 51, 0.1);
    border-radius: 6px;

    padding: 1.125rem 1rem;

    display: flex;
    align-items: center;

    &-icon-wrap {
      flex: 0 0 auto;
      margin-right: 0.75rem;
    }
    &-icon {
      width: 40px;
      height: 40px;
    }

    &-title {
      font-style: normal;
      font-weight: normal;
      font-size: 1.125rem;
      line-height: 1.375rem;
      color: var(--color-text-blue);
    }
    &-subtitle {
      font-style: normal;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 1.375rem;

      color: var(--color-text);

      opacity: 0.5;
    }
  }
}

.dd-timeline-wrap {
}
.dd-timeline {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  // overflow: auto;
  overflow: hidden;
  // min-height: 400px;
  align-items: center;
  min-height: 50px;
  // user-select: none;

  &__item {
    position: relative;
    z-index: 1;

    flex: 0 0 auto;
    margin-right: 258px;

    &::before {
      content: "";
      position: absolute;
      width: 270px;
      left: 7.5px;
      height: 2px;
      top: 50%;
      transform: translateY(-50%);
      // background: var(--color-accent-light);
      background: var(--color-accent-light);
      z-index: 1;
    }
    &::after {
      content: "";
      position: absolute;
      width: 0;
      left: 7.5px;
      height: 2px;
      top: 50%;
      transform: translateY(-50%);
      // background: var(--color-accent-light);
      background: var(--color-accent);
      z-index: 2;
      transition: 750ms ease-out;
    }
    &-dot {
      position: relative;
      z-index: 2;

      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: var(--color-accent-light);
    }

    &-content-wrap {
      display: none;

      position: absolute;
      top: -140px;
      bottom: unset;
      margin-bottom: 0.375rem;
    }
    &-content-line {
      position: absolute;

      width: 2px;
      height: 50px;

      // bottom: -50px;
      left: 6.5px;
      background: var(--color-accent-light);
    }
    &-content {
      font-style: normal;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 1rem;

      color: var(--color-text);

      list-style: none;
      width: 240px;
      padding-left: 16px;

      li {
        position: relative;
      }
      li::before {
        position: absolute;
        content: "\2022";
        color: var(--color-primary);
        font-weight: bold;
        display: inline-block;
        width: 6px;
        margin-left: -12px;
      }
    }

    &:nth-child(even) {
      .dd-timeline__item-content-wrap {
        top: unset;
        bottom: -155px;

        &::after {
          top: -55px;
        }
      }
      .dd-timeline__item-content-line {
        top: -55px;
        bottom: unset;
      }
      &::before {
        top: 50%;
      }
    }
    &:nth-child(odd) {
      .dd-timeline__item-content-line {
        top: unset;
        bottom: -50px;
      }
    }

    &.active {
      &::after {
        width: 270px;
      }

      .dd-timeline__item-dot {
        background: var(--color-accent);
      }
      .dd-timeline__item-content-wrap {
        display: block;
        &::after {
          background: var(--color-accent);
        }
      }
      .dd-timeline__item-content-line {
        background: var(--color-accent);
      }
    }
  }
}

.overlay-cdk {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background: rgba(#000000, 0.6);
  padding: 20px 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  display: none;

  &.active {
    display: flex;
  }

  &__content {
    background: #ffffff;

    box-shadow: 0px 8px 26px rgba(43, 45, 51, 0.1);
    border-radius: 6px;

    max-width: 600px;
    width: 100%;

    padding: 20px 40px;
    padding-bottom: 60px;

    text-align: center;
  }

  &__image-wrap {
    margin-left: -40px;
    margin-right: -40px;

    margin-bottom: 1.5rem;
  }
  &__image {
    width: 100%;
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;

    color: var(--color-text);
  }
  &__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.25rem;

    color: var(--color-text);

    opacity: 0.6;
  }
  &__footer {
    margin-top: 1.5rem;
  }
}

.meta-footer-wrap {
  margin-top: 1.5rem;
}
.meta-footer {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;

  &__item {
    padding: 0 12px;

    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: var(--color-text);

    opacity: 0.3;

    a {
      text-decoration: none;
      color: var(--color-text);
    }
  }
}

.widget-sidebar {
  position: sticky;
  z-index: 10;
  top: 180px;

  padding: 1.875rem 1.75rem;
  padding-top: 2.5rem;

  background: var(--color-background-alt);
  box-shadow: 0px 0.5rem 1.625rem rgba(43, 45, 51, 0.1);
  border-radius: 10px;

  &__menu {
    list-style: none;
    margin: 0;
    padding: 0;

    &-item {
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }

      &-date {
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1.375rem;

        color: var(--color-text);

        opacity: 0.4;

        margin-bottom: 3px;
      }
      &-title {
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.25rem;

        color: var(--color-text);

        margin-bottom: 3px;

        a {
          text-decoration: none;
          color: inherit;
        }
      }
      &-details-btn {
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.75rem;

        color: var(--color-accent);

        display: flex;
        align-items: center;

        &:hover {
          text-decoration: none;
        }

        i {
          font-size: 8px;
          margin-left: 12px;
          margin-top: 2px;
        }
      }
    }
  }

  &__info {
    &-image-wrap {
      margin-bottom: 0.5rem;
    }
    &-image {
      width: 48px;
      height: 48px;
      border-radius: 4px;
    }
    &-title {
      font-style: normal;
      font-weight: 500;
      font-size: 1.3125rem;
      line-height: 1.75rem;

      color: var(--color-text);

      margin-bottom: 1.25rem;
    }
    &-content {
      font-style: normal;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 1.375rem;

      color: var(--color-text);

      opacity: 0.8;
    }
  }
}

.comments-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 1.75rem;
    }
    &-label-wrap {
      flex: 0 0 auto;
      width: 54px;
      margin-right: 0.75rem;
    }
    &-label-img {
      border-radius: 4px;
      width: 54px;
      height: 54px;
      object-fit: cover;
    }
    &-label-text {
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 40px;

      text-align: center;

      color: var(--color-text);

      background: var(--color-primary);
      border-radius: 4px;
      padding: 7px 14px;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 54px;
      height: 54px;
    }

    &-header {
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;
    }
    &-name {
      font-style: normal;
      font-weight: 500;
      font-size: 1.3125rem;
      line-height: 1.75rem;

      color: var(--color-text);
      margin-right: 1.25rem;
    }
    &-timestamp {
      font-style: normal;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 1.375rem;

      color: var(--color-text);

      opacity: 0.4;
    }
    &-body {
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.75rem;

      margin-bottom: 0.5rem;
    }
    &-footer {
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.75rem;
    }
    &-reply-btn {
      color: #acacac;
      &:hover {
        text-decoration: none;
        color: var(--color-accent);
      }
    }
  }
  &__replies {
    margin-top: 1.875rem;
  }
}

.comment-form-wrap {
  margin-bottom: 2.1875rem;
}
.comment-form {
  position: relative;
  .dd-textarea {
    padding-bottom: 65px;
  }
  .dd-button-wrap {
    position: absolute;
    right: 15px;
    bottom: 35px;
    z-index: 1;
  }
}

.package-card-wrap {
  margin-bottom: 1.25rem;
}
.package-card {
  background: #ffffff;
  border-radius: 6px;

  &__header {
    padding: 1rem 1.5625rem;
    padding-top: 2.25rem;

    border-bottom: 1px solid #e0e0e0;
  }
  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 1.3125rem;
    line-height: 1.75rem;

    color: var(--color-text);
  }

  &__image-wrap {
    width: 100%;
  }
  &__image {
    width: 100%;
  }

  &__footer {
    padding: 1rem 1.5625rem;
    padding-bottom: 2.25rem;

    border-top: 1px solid #e0e0e0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    font-style: normal;
    font-weight: 500;
    font-size: 1.625rem;
    line-height: 1.75rem;

    color: var(--color-text);
  }
}

.target-card-wrap {
  margin-bottom: 1.25rem;
}
.target-card {
  background: #ffffff;
  box-shadow: 4px 4px 28px 3px rgba(0, 0, 0, 0.08);
  border-radius: 6px;

  &__header {
    padding: 1rem 1.5625rem;
    padding-top: 2.25rem;
  }
  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 1.3125rem;
    line-height: 1.75rem;

    color: var(--color-text);
  }

  &__image-wrap {
    width: 100%;
  }
  &__image {
    width: 100%;
  }

  &__footer {
    padding: 1.875rem 1.5625rem;
    padding-bottom: 2.25rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__details-btn {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.75rem;

    color: var(--color-accent);

    display: flex;
    align-items: center;

    i {
      margin-left: 12px;
      font-size: 10px;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.tarrif-card-wrap {
  margin-bottom: 1.25rem;
}
.tarrif-card {
  background: #ffffff;
  border-radius: 6px;

  padding: 36px 25px;

  text-align: center;

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 1.3125rem;
    line-height: 1.75rem;

    color: var(--color-text);

    margin-bottom: 0.5rem;
  }

  &__body {
    margin-bottom: 1.5rem;
  }
  &__line {
    display: flex;
    justify-content: center;

    margin-bottom: 0.875rem;
  }
  &__value,
  &__line-title {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.75rem;

    color: var(--color-text);
  }
  &__line-title {
    display: none;
  }

  &.selected {
    border: 1px solid var(--color-primary);
  }
}

.tarrif-heading-col {
  padding-top: 36px;

  &__name {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.75rem;

    color: var(--color-text);

    margin-bottom: 0.875rem;

    &:first-child {
      margin-bottom: 0.5rem; // title margin
    }
  }
}

.advantages-well {
  position: relative;
  background: #ffffff;

  box-shadow: 0px 0.5rem 1.625rem rgba(43, 45, 51, 0.1);
  border-radius: 6px;
  padding: 2.25rem;

  &__body {
    position: relative;
    z-index: 1;
    max-width: 760px;

    margin-bottom: 1.875rem;
  }
  &__item {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.75rem;
    color: #000000;

    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    img {
      margin-right: 0.625rem;
    }
  }
  &__footer {
    position: relative;
    z-index: 1;
  }

  &__image-wrap {
    position: absolute;
    right: 0;
    bottom: 0;

    pointer-events: none;
  }
}

.consultation-well-wrap {
}
.consultation-well {
  padding: 2.25rem;

  background: #ffffff;

  box-shadow: 0px 0.5rem 1.625rem rgba(43, 45, 51, 0.1);
  border-radius: 6px;

  &__body-wrap {
    position: relative;
  }
  &__body {
    display: flex;
    margin-left: -40px;
    margin-right: -40px;

    padding-bottom: 1.5rem;
    border-bottom: 1px solid #f5f7f7;

    &::after {
      content: "";
      width: 100%;
      border-top: 1px dashed var(--color-accent);
      position: absolute;

      top: calc(25px + 50%);
      left: 0;
      transform: translateY(-50%);
    }
  }
  &__col {
    padding: 0 40px;
    width: 33.3%;
  }
  &__col-content {
    height: 100%;
    background: #fff;
    position: relative;
    z-index: 1;

    padding: 0 20px;
  }
  &__number {
    background: #fee500;
    border-radius: 6px;

    width: 58px;
    height: 58px;
    padding: 9px 14px;

    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;

    color: var(--color-text);

    margin-bottom: 1rem;
  }

  &__footer {
    padding-top: 1.5rem;
  }
  &__form {
    display: flex;
    align-items: center;
    justify-content: center;

    .dd-input-wrap {
      margin-bottom: 0;
      margin-right: 20px;
    }
    .dd-button {
      border: 2px solid var(--color-accent);
      &:hover {
        border: 2px solid var(--color-accent-alt);
      }
    }
  }
}

.icon-card-wrap {
  margin-bottom: 1.25rem;
  height: 100%;
}
.icon-card {
  background: var(--color-background-alt);
  border-radius: 6px;

  padding: 2.25rem 1.75rem;
  padding-bottom: 3.25rem;

  height: 100%;

  &__icon-wrap {
    margin-bottom: 1rem;
  }
  &__icon {
    background: var(--color-primary);
    border-radius: 6px;

    font-size: 30px;
    padding: 12px;

    width: 58px;
    height: 58px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.375rem;

    color: var(--color-text);
  }
}
